
.description {
    font-size: 20px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
}
.title{
    color: rgb(120, 156, 255);
    text-align: center;
}
.button {
    border-style: none;
    cursor: pointer;
    background-color: rgb(120, 156, 255);
    border-radius: 5px;
    transition: 0.4s;
    align-items: center;
    position: absolute;
    inset-inline-start: 45%;
}

.button:hover {
    transition: 0.4s;
    background-color: rgb(26, 85, 248);
}

.text-white {
    color: white;
}
div {
    position: absolute;
    display: inline-block;
    align-items: center;
    position: absolute;
    inset-inline-start: 25%;
    margin-block-start: 100px;
  }
 
  img {
    vertical-align: bottom;
    border-radius: 20px;
    inline-size: 300px;
    block-size: 300px;
margin-block-start: -40px;
  }
  
  div:after {
    content: '';
    position: absolute;
    border-radius: 20px;
    inset-inline-start: -5rem;
    inset-block-start: 4rem;
    background-color: rgb(227, 226, 226);
    inline-size: 300%;
    block-size: 200%;
    z-index: -1;
  }
